
{{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('Save') }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('admin_homepage') }}" class="btn btn-link">
             Back to Posts list
        </a>
    {% endif %}
{{ form_end(form) }}
